* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gold;
}
#wrapper {
  margin-left: 15%;
  margin-right: 15%;
}
main {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  background-color: white;
  display: inline-flex;
}
header {
  background-color: dodgerblue;
  color: white;
  text-align: center;
}
nav {
  background-color: dodgerblue;
  color: white;
  text-align: center;
  height: 120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}
a {
  background-color: dodgerblue;
  color: white;
  text-align: center;
}
ul {
  list-style: none;
}

h1 {
  color: gold;
  text-align: start;
  margin-bottom: 10px;
}
aside {
  background-color: dodgerblue;
  color: white;
  text-align: justify;
}
h3 {
  text-align: center;
}
footer {
  background-color: blue;
  text-align: center;
  color: white;
}
